<?- include('layouts/header.ejs') ?>

<div id="topbar">
  <a href="/"><img src="/images/logo-2.png" alt="School.Portal"></a>
</div>

<div class="btn">
  <a href="/user/list">List</a>
  <a href="/user/add">Add</a>
</div>
</div>

<?- include('layouts/footer.ejs') ?> 
