<?- include('layouts/header.ejs') ?>
<div id="topbar">
    <a href="/"><img src="/images/logo-2.png" alt="School.Portal"></a>
  </div>
  <h1 class="ty">
        THANK YOU!!!
  </h1>
  <div class="links">
  <a href="/">Click here to go to home page!!</a>
  </div>
<?- include('layouts/footer.ejs') ?>